
.icon-user:before { content: '\e800'; } /* '' */
.icon-desktop:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-left-big:before { content: '\e806'; } /* '' */
.icon-right-big:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-twitter-squared:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-male:before { content: '\e80c'; } /* '' */
.icon-plus-squared:before { content: '\e80d'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-linkedin-squared:before { content: '\e810'; } /* '' */
.icon-minus-squared:before { content: '\e811'; } /* '' */
.icon-minus-squared-alt:before { content: '\e812'; } /* '' */
.icon-help:before { content: '\e813'; } /* '' */
.icon-help-circled:before { content: '\e814'; } /* '' */
.icon-info-circled:before { content: '\e815'; } /* '' */
.icon-info:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-lock:before { content: '\e818'; } /* '' */
.icon-lock-open:before { content: '\e819'; } /* '' */
.icon-youtube-squared:before { content: '\e81a'; } /* '' */
.icon-female:before { content: '\e81b'; } /* '' */
.icon-arrows-cw:before { content: '\e81c'; } /* '' */
.icon-star:before { content: '\e81d'; } /* '' */
.icon-star-empty:before { content: '\e81e'; } /* '' */
.icon-mail-alt:before { content: '\e81f'; } /* '' */
.icon-mail:before { content: '\e820'; } /* '' */
.icon-search:before { content: '\e821'; } /* '' */
.icon-upload:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-edit:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-location:before { content: '\e827'; } /* '' */
.icon-attention:before { content: '\e828'; } /* '' */
.icon-attention-circled:before { content: '\e829'; } /* '' */
.icon-login:before { content: '\e82a'; } /* '' */
.icon-logout:before { content: '\e82b'; } /* '' */
.icon-comment-empty:before { content: '\e82c'; } /* '' */
.icon-comment:before { content: '\e82d'; } /* '' */
.icon-bell-alt:before { content: '\e82e'; } /* '' */
.icon-bell:before { content: '\e82f'; } /* '' */
.icon-file-pdf:before { content: '\e830'; } /* '' */
.icon-file-word:before { content: '\e831'; } /* '' */
.icon-file-image:before { content: '\e832'; } /* '' */
.icon-trash:before { content: '\e833'; } /* '' */
.icon-trash-empty:before { content: '\e834'; } /* '' */
.icon-battery:before { content: '\e835'; } /* '' */
.icon-monitor:before { content: '\e836'; } /* '' */
.icon-user-1:before { content: '\e837'; } /* '' */
.icon-minus-circled:before { content: '\e838'; } /* '' */
.icon-cog:before { content: '\e839'; } /* '' */
.icon-wifi:before { content: '\e83a'; } /* '' */
.icon-flight:before { content: '\e83b'; } /* '' */
.icon-block:before { content: '\e83d'; } /* '' */
.icon-up-dir:before { content: '\e83e'; } /* '' */
.icon-left-dir:before { content: '\e83f'; } /* '' */
.icon-right-dir:before { content: '\e840'; } /* '' */
.icon-clock:before { content: '\e841'; } /* '' */
.icon-phone:before { content: '\e842'; } /* '' */
.icon-phone-squared:before { content: '\e843'; } /* '' */
.icon-calendar:before { content: '\e844'; } /* '' */
.icon-angle-left:before { content: '\e845'; } /* '' */
.icon-angle-right:before { content: '\e846'; } /* '' */
.icon-menu:before { content: '\e848'; } /* '' */
.icon-down-dir:before { content: '\e84a'; } /* '' */
.icon-floppy:before { content: '\e850'; } /* '' */
.icon-cab:before { content: '\e851'; } /* '' */
.icon-picture:before { content: '\e85f'; } /* '' */